main {
  width: 100%;
  height: 700px;
  flex-shrink: 0;
  background: url(../img/heroimage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40% 25%;
}

main .main-intro h1 {
  height: calc(100vh -60px);
  font-size: 96px;
  line-height: 106px;
}
main p {
  font-size: 18px;
  line-height: 30px;
}
main h2 {
  font-size: 55px;
  line-height: 106px;
}
main a {
  margin-top: 30px;
  font-size: 18px;
  display: block;
  height: 36px;
  line-height: 36px;
  background-color: white;
  padding: 0 20px;
  width: fit-content;
}
main a:hover {
  background-color: #be25b9;
}
main .main-intro {
  position: relative;
  width: 1000px;
  margin: auto;
  padding-bottom: 8vh;
}

.index-section-h3 {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-shadow: -2px 2px 4px #000;
  z-index: 100;
}
/* school  */
.school {
  width:100%;
  padding:10px 0px; 
  background-color: black;
  display:flex;
  justify-content:space-around;
  align-items: center;
  column-gap: 80px;

}
.school-text h2{
  color: aqua;
  flex-basis:800px;

}

 /* Project section */
 .skillsbox{
  width:100%;
  padding:10px 0px;
  background-color: black;
  display:flex;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
}

.skillsbox-text h2{
  color:purple;
}


.grid{
  display:grid;
  grid-template-columns: auto auto auto;
  grid-gap:20px;
  padding:50px;
  justify-content: center;
}
.grid > div{
  color:black;
  background-color:white;
  text-align:center;
  padding:15px 20px;
  font-size:30px;
  border-radius: 8px;
  }


.slam{
  width:100%;
  padding:20px 0px;
  background-color: white;
  display:flex;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
}
.slam-img img{
  width:500px;
  border-radius: 10px;
}
.slam-text{
  flex-basis:500px;

}
.slam-text h2{
  color:black;
}
.slam-text p{
  padding:20px 0;
  color:black;
}
.treasury{
  width:100%;
  padding:20px 0px;
  background-color: black;
  display:flex;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
}
.treasury-text{
  flex-basis:600px;
}
.treasury-img img{
  width:400px;
  border-radius: 10px;
}
.playbook{
  width:100%;
  padding:60px 0px;
  background-color: white;
  display:flex;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
}
.playbook-text{
  flex-basis:600px;
}
.playbook-text h2{
  color:black;
}
.playbook-text p{
  color:black;
}
.playbook-img img{
  width:250px;
  border-radius: 10px;
}
